/* CSS DIRECTORY

{ AUTHOR: MATT MCINTYRE }

1. NAVIGATION
2. HEADER
3. ABOUT
4. GALLERY
5. TESTIMONIALS
6. CONTACT US
7. FOOTER

/* APPLIED TO ALL
========================================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "blair", sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.8;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "swift", sans-serif;
    font-weight: 100;
}

p {
    font-size: 15px;
    line-height: 1.7;
}

/* 1. NAVIGATION
========================================================================== */

.container-nav-ctn {
    align-items: center;
    background-color: #454646;
    display: flex;
    font-size: 18px;
    height: 50px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    width: 100%;
}

.logo a {
    color: white;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
}

.container-nav-ctn ul li a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    justify-content: flex-end;
    padding: 10px 20px;
    text-decoration: none;
}

.container-nav-ctn ul li a:hover {
    color: black;
}

/* 2. HEADER
========================================================================== */

header {
    align-items: center;
    background-image: url(../Img/Hero2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.banner {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.banner-text h1 {
    color: white;
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 60px;
    text-align: center;
    text-shadow: -1px 1px 1px black;
}

.banner-text h2 {
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: -1px 1px 1px black;
}

.btn-appoint {
    align-items: center;
    text-align: center;
}

.btn {
    background-color: #454646;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-family: swift, sans-serif;
    font-size: 11px;
    font-weight: 600;
    margin-top: 50px;
    min-width: 235px;
    outline: 0;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}

.btn-appoint:hover {
    background-color: transparent;
    border: 1px solid #454646;
    color: #454646;
}

.arrow {
    text-align: center;
    align-items: center;
}

.arrow a i {
    bottom: 0px;
    color: #454646;
    font-size: 50px;
    position: absolute;
    text-align: center;
    transition: 0.5s;
}

/* 3. ABOUT
==========================================================================*/

.about-ctn {
    align-items: center;
    border: 1px solid #454646;
    display: flex;
    height: 350px;
    margin-left: 150.50px;
    margin-right: 150.50px;
    margin-top: 20px;
    text-align: center;
    text-align: center;
}

.about-content h3 {
    color: #959597;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.about-content h2 {
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
}

.about-content:nth-last-of-type(2) {
    width: 100px;
}

.about-content p {
    color: #282829;
    display: block;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 1.7;
    margin: 5px 65px 40px;
    text-align: center;
}

.btn-ctn {
    align-items: center;
    text-align: center;
}

.button {
    background-color: #454646;
    border: none;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: swift, sans-serif;
    font-size: 11px;
    font-weight: 600;
    min-width: 235px;
    outline: 0;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid #454646;
    color: #454646;
}

/* 4. GALLERY
========================================================================== */

.gallery {
    padding: 30px;
    text-align: center;
}

.container {
    border: 1px solid #454646;
    height: 750px;
}

.kitchen1 {
    background-image: url ("Resources/Img/Kitchen3.jpg")
}

.kitchen2 {
    height: 562px;
    width: 583px;
}

.kitchen3 {
    height: 562px;
    width: 583px;
}

/* 5. TESTIMONIALS
========================================================================== */

.testimonials {
    padding: 30px;
    text-align: center;
}

.test-ctn {
    border: 1px solid #454646;
    height: 750px;
}

/* 6. CONTACT US
========================================================================== */

.contact {
    padding: 30px;
    text-align: center;
}

.contact-ctn {
    border: 1px solid #454646;
    height: 150px;
    text-align: center;
}

.contact h1 {
    padding-bottom: 10px;
}

.contact p {
    padding-bottom: 10px;
}

/* 7. FOOTER
========================================================================== */

footer {
    color: #959597;
    font-size: 12px;
    padding: 0px 30px 0px 30px;
}

.footer-ctn p a:first-child {
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
}

.footer-ctn {
    align-items: center;
    border: 1px solid #454646;
    color: black;
    display: flex;
    font-size: 18px;
    height: 50px;
    justify-content: space-between;
    padding: 14px 0px;
    text-align: center;
    width: 100%;
}

footer ul li {
    display: inline-block;
}

.footer-ctn ul li a {
    color: black;
    font-size: 16px;
    font-weight: 100;
    justify-content: flex-end;
    padding: 10px 20px;
    text-decoration: none;
}

.footer-ctn ul li a:hover {
    color: green;
    transition: 0.2s;
}

.social a {
    color: black;
    padding-left: 10px;
    text-decoration: none;
}

.social a:hover {
    color: green;
    transition: 0.2s;
}