/* CSS DIRECTORY

{ AUTHOR: MATT MCINTYRE }

1. NAVIGATION
2. HEADER
3. ABOUT
4. GALLERY
5. TESTIMONIALS
6. CONTACT US
7. FOOTER

/**************** APPLIED TO ALL ****************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Blair ITC Std, sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Blair ITC Std, sans-serif;
    font-weight: 100;
}

/**************** 1. NAVIGATION ****************/

.container-nav-ctn {
    font-size: 18px;
    position: fixed;
    display: flex;
    height: 60px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    color: white;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 2px;
}

nav ul li {
    display: inline-block;
}

.container-nav-ctn ul li a {
    color: white;
    font-size: 16px;
    font-weight: 100;
    padding: 10px 20px;
    text-decoration: none;
    justify-content: flex-end;
}

.container-nav-ctn ul li a:hover {
    color: black;
}

/********** END **********/

/**************** 2. HEADER ****************/

header {
    background-image: url(../Img/Hero2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    left: 50px;
    height: 100vh;
}

.name {
    color: white;
    position: relative;
    text-align: center;
    width: 500px;
    height: 100px;
    margin: 0 auto;
}

.main-name-ctn h1 {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
}

.main-name-ctn h2 {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
}

/********** END **********/

/**************** 3. ABOUT ****************/

.about>h1 {
    text-align: center;
    letter-spacing: 2px;
}

.about, p {
    text-align: center;
    letter-spacing: 1px;
}

/********** END **********/