/* CSS DIRECTORY

{ AUTHOR: MATT MCINTYRE }

1. NAVIGATION
2. HEADER
3. ABOUT
4. INSPIRATION
5. TESTIMONIALS
6. CONTACT US
7. FOOTER

/* APPLIED TO ALL
========================================================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.8;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', sans-serif;
    font-weight: 100;
}

p {
    font-size: 15px;
    line-height: 1.7;
}

/* 1. NAVIGATION
========================================================================== */

.nav-ctn {
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
    align-items: center;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    width: 100%;
    padding-top: 20px;
}

.logo a {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-ctn h1 {
    margin-bottom: 0px;
    line-height: 1px;
    font-size: 15px
}

nav ul li {
    display: inline-block;
}

.nav-ctn ul {
    margin-bottom: 0px;
}

.nav-ctn ul li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 100;
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-ctn ul li a:hover {
    color: #fff;
}

/* CONTACT BUTTON
=================================== */

.nav-ctn .nav-contact {
    color: #fff;
    padding: 5px 17px 6px 17px;
}

.nav-contact {
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
}

.nav-contact:hover {
    border: 2px solid #fff;
}

/* 2. HEADER
========================================================================== */

header {
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(../Img/Tinified/Kitchen1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.banner {
    padding: 10px 20px;
}

.banner-text {
    margin-top: 20%;
    text-align: center;
}

.banner-text a {
    display: inline-block;
}

.banner-text h1 {
    color: #fff;
    font-size: 65px;
    letter-spacing: 5px;
    line-height: 60px;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.banner-text h2 {
    color: #fff;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-1 {
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    display: block;
    font-family: Lora, sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 25px;
    min-width: 235px;
    outline: 0;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}

.btn-1:hover {
    background-color: rgba(149, 165, 166, 0.8);
    color: #fff;
    text-decoration: none;
}

.arrow {
    align-items: flex-end;
    text-align: center;
}

.arrow a i {
    color: #fff;
    font-size: 50px;
    text-align: center;
    transition: 0.5s;
}

/* 3. ABOUT
==========================================================================*/

.about-ctn {
    align-items: center;
    background-color: #F4F4F4;
    display: flex;
    padding: 50px 0px;
    text-align: center;
    text-align: center;
}

.about-content {
    margin-left: 260px;
    margin-right: 260px;
}

.about-content h3 {
    color: #959597;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.about-content h2 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.about-content h2:after {
    background-color: black;
    bottom: 0px;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    width: 54px;
}

.about-content p {
    color: #282829;
    display: block;
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 1.8;
    padding-bottom: 25px;
}

/* BUTTON
=================================== */

.btn-2 {
    align-items: center;
    background-color: #95A5A6;
    border: 1px solid transparent;
    border-radius: 0px;
    color: #fff;
    display: inline-block;
    font-family: Lora, sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    min-width: 235px;
    outline: 0;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}

.btn-2:hover {
    background-color: transparent;
    border: 1px solid #454646;
    color: #454646;
    text-decoration: none;
}

/* 4. INSPIRATION
========================================================================== */

.inspiration {
    padding: 0px;
    text-align: center;
}

.kitchen-ctn {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.kitchen-ctn>div {
    color: #fff;
    height: 500px;
}

.kitchen1 {
    background-image: url("../Img/Tinified/Kitchen6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    width: 50%;
}

.kitchen1 .overlay {
    background-color: rgba(0, 0, 0, 0.0);
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 499px;
    transition: all 0.5s ease;
    width: 100%;
}

.kitchen1 .overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 100px;
}

.kitchen1 .overlay h3 {
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.kitchen1 .overlay h2 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center
}

.kitchen1 .overlay h2::after {
    background-color: white;
    bottom: 0px;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    width: 54px;
}

.kitchen1 .overlay p {
    display: block;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 1.7;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center
}

.kitchen1 .overlay i {
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
}

/* BUTTON
=================================== */

.btn-1 {
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: Lora, sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 25px;
    max-width: 235px;
    outline: 0;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}

.btn-1:hover {
    background-color: rgba(149, 165, 166, 0.8);
    color: #fff;
    text-decoration: none;
}

/* KITCHEN 2
=================================== */

.kitchen2 {
    background-image: url("../Img/Tinified/Kitchen2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    width: 50%;
}

.kitchen2 .overlay {
    background-color: rgba(0, 0, 0, 0.0);
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 499px;
    transition: all 0.5s ease;
    width: 100%;
}

.kitchen2 .overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 100px;
}

.kitchen2 .overlay h3 {
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.kitchen2 .overlay h2 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center
}

.kitchen2 .overlay h2::after {
    background-color: white;
    bottom: 0px;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    width: 54px;
}

.kitchen2 .overlay p {
    display: block;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 1.7;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center
}

.kitchen2 .overlay i {
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
}

.btn-1 {
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: Lora, sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 25px;
    max-width: 235px;
    outline: 0;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}

.btn-1:hover {
    background-color: rgba(149, 165, 166, 0.8);
    color: #fff;
    text-decoration: none;
}

/* KITCHEN 3
=================================== */

.kitchen3 {
    background-image: url("../Img/Tinified/Kitchen7.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.kitchen3 .overlay {
    background-color: rgba(0, 0, 0, 0.0);
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 499px;
    transition: all 0.5s ease;
    width: 100%;
}

.kitchen3 .overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 100px;
}

.kitchen3 .overlay h3 {
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.kitchen3 .overlay h2 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center
}

.kitchen3 .overlay h2::after {
    background-color: white;
    bottom: 0px;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    width: 54px;
}

.kitchen3 .overlay p {
    display: block;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 1.7;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 280px;
    padding-right: 280px;
    text-align: center;
}

.kitchen3 .overlay i {
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
}

.btn-1 {
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: Lora, sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 25px;
    max-width: 235px;
    outline: 0;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
}

.btn-1:hover {
    background-color: rgba(149, 165, 166, 0.8);
    color: #fff;
    text-decoration: none;
}

/* 5. TESTIMONIALS
========================================================================== */

.testimonials {
    text-align: center;
}

.test1, .test2, .test3, .test4 {
    background-color: #F4F4F4;
    background-position-y: 58%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
}

.test1 h3, .test2 h3, .test3 h3, .test4 h3 {
    color: #959597;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.test1 h2, .test2 h2, .test3 h2, .test4 h2 {
    color: #282829;
    font-size: 22px;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
}

.horizontal-break1, .horizontal-break2, .horizontal-break3, .horizontal-break4 {
    background-color: #282829;
    height: 1px;
    margin: 20px auto 16px;
    width: 54px;
}

.test1 p, .test2 p, .test3 p, .test4 p {
    color: #282829;
    display: block;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 1.7;
    padding: 0px 250px;
}

.test1 cite, .test2 cite, .test3 cite, .test4 cite {
    color: #282829;
    display: block;
    font-family: Merriweather;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.2px;
    line-height: 1.7;
}

q {
    font-family: Merriweather;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2363777B' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2363777B' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-indicators li {
    background-color: #95A5A6;
}

.carousel-indicators .active {
    background-color: #63777B;
}

/* 6. CONTACT US
========================================================================== */

.contact-row {
    display: flex;
    height: auto;
}

.column-container {
    background-color: #95A5A6;
    color: #fff;
    height: 100%;
    padding: 40px 63.250px;
    width: 50%;
}

.column-container p {
    font-size: 16px;
    padding-bottom: 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.column-container p>a {
    color: #fff;
    text-decoration: none;
}

.column-container h3 {
    margin-bottom: 15px;
    text-align: center;
}

.column-container a {
    color: #fff;
    text-decoration: none;
}

.horizontal-break4 {
    background-color: #63777c;
    height: 1px;
    margin: 20px auto 25px;
    width: 54px;
}

/* CONTACT FORM
=================================== */

.form {
    /*background-color:#ccc;*/
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #282829;
    margin-bottom: 16px;
    margin-top: 6px;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

input [type=text], textarea {
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    color: #282829;
    height: 150px;
    margin-bottom: 25px;
    margin-top: 6px;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

input[type=submit] {
    border: 1px solid #5b6e72;
    background-color: #63777B;
    border-radius: 0px;
    color: white;
    cursor: pointer;
    padding: 12px 20px;
    width: 100%;
    transition: all .1s ease-in-out;
}

input[type=submit]:hover {
    background-color: inherit;
}

/* GOOGLE MAP
=================================== */

#map {
    height: auto;
    width: 50%;
}

/* 7. FOOTER
========================================================================== */

footer {
    background-color: #63777B;
    font-size: 12px;
    padding: 0px 30px 0px 30px;
    display: flex;
}

.footer-ctn p a:first-child {
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
}

.footer-ctn p {
    margin-bottom: 0px;
}

.footer-ctn {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
}

footer ul li {
    display: inline-block;
    margin-bottom: 0px;
}

.footer-ctn ul li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 100;
    justify-content: flex-end;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-decoration: none;
    margin-bottom: 0px;
}

.footer-ctn ul li a:hover {
    color: #fff;
    transition: 0.2s;
}

.footer-ctn ul {
    margin-bottom: 0px;
}

.social a {
    color: #fff;
    padding-left: 10px;
    text-decoration: none;
}

.social a:hover {
    color: #fff;
    transition: 0.2s;
}

/* MEDIA QUERIES
========================================================================== */

/* IPAD PRO - LANDSCAPE
=================================== */

@media(max-width: 1366px) {
    header {
        height: 100vh;
    }
    .nav-ctn ul li a {
        font-size: 10px;
        padding: 10px 5px;
    }
    .banner-text {
        margin-top: 30%;
        text-align: center;
    }
    .about-content {
        margin-left: 200px;
        margin-right: 200px;
    }
    .test1, .test2, .test3, .test4 {
        padding: 50px 200px;
    }
    .test1 p, .test2 p, .test3 p, .test4 p {
        padding: 0px;
    }
    .kitchen1 .overlay:hover, .kitchen2 .overlay:hover {
        padding-top: 115px;
    }
    .kitchen3 .overlay:hover {
        padding-top: 125px;
    }
    .kitchen3 .overlay>p {
        padding-left: 350px;
        padding-right: 350px;
    }
    /* IPAD PRO - PORTRAIT
=================================== */
    @media(max-width: 1024px) {
        header {
            height: 50vh;
        }
        .nav-ctn ul li a {
            font-size: 10px;
            padding: 10px 5px;
        }
        .about-content {
            margin-left: 80px;
            margin-right: 80px;
        }
        .test1, .test2, .test3, .test4 {
            padding: 50px 55px;
        }
        .test1 p, .test2 p, .test3 p, .test4 p {
            padding: 0px;
        }
        .kitchen1 .overlay:hover, .kitchen2 .overlay:hover {
            padding-top: 80px;
        }
        .kitchen3 .overlay:hover {
            padding-top: 125px;
        }
        .kitchen3 .overlay>p {
            padding-left: 180px;
            padding-right: 180px;
        }
    }
    /* IPAD - NORMAL
=================================== */
    @media(max-width: 768px) {
        header {
            height: 50vh;
        }
        .nav-ctn ul li a {
            font-size: 10px;
            padding: 10px 5px;
        }
        .about-content {
            margin-left: 80px;
            margin-right: 80px;
        }
        .test1, .test2, .test3, .test4 {
            padding: 50px 55px;
        }
        .test1 p, .test2 p, .test3 p, .test4 p {
            padding: 0px;
        }
        .kitchen1 .overlay:hover, .kitchen2 .overlay:hover {
            padding-top: 40px;
        }
        .kitchen3 .overlay:hover {
            padding-top: 105px;
        }
        .kitchen3 .overlay>p {
            padding-left: 100px;
            padding-right: 100px;
        }
        .contact-row {
            flex-wrap: wrap;
        }
        .column-container {
            width: 100%;
            padding-left: 40px;
            padding-right: 40px;
        }
        .column-container p {
            padding-left: 30px;
            padding-right: 30px;
        }
        #map {
            height: 500px;
            width: 100%;
        }
        .footer-ctn ul {
            display: none;
        }
    }
    /* IPHONE
=================================== */
    @media(max-width: 500px) {
        .nav-ctn ul li a {
            font-size: 10px;
            padding: 10px 5px;
        }
        .banner-text h1 {
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 25px;
        }
        .banner-text h2 {
            font-size: 18px;
        }
        .about-content {
            margin-left: 40px;
            margin-right: 40px;
        }
        .kitchen1, .kitchen2 {
            width: 100%;
        }
        .kitchen3 .overlay:hover {
            padding-top: 80px;
        }
        .kitchen3 .overlay>p {
            padding-left: 20px;
            padding-right: 20px;
        }
        .test1, .test2, .test3, .test4 {
            padding: 50px 55px;
        }
        .test1 p, .test2 p, .test3 p, .test4 p {
            padding: 0px;
        }
        .contact-row {
            flex-wrap: wrap;
        }
        .column-container {
            width: 100%;
            padding-left: 40px;
            padding-right: 40px;
        }
        .column-container p {
            padding-left: 30px;
            padding-right: 30px;
        }
        #map {
            height: 500px;
            width: 100%;
        }
        .footer-ctn p:nth-child(2) {
            display: none;
        }
        .footer-ctn {
            justify-content: center;
        }
        .social a {
            padding-left: 30px;
        }
    }